@model Model.ViewModel.SanPhamViewModel

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    var DanhSachHinhAnh = ViewBag.DanhSachHinhAnh;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section cssHeader{
    <link href="~/libs/plugins/thumbimage/ninja-slider.css" rel="stylesheet" />
    <link href="~/libs/plugins/thumbimage/thumbnail-slider.css" rel="stylesheet" />
    <style>
        .page-wrapper {
            height: 100%;
        }

        .product-detail-image {
            width: 627px;
        }

        .product-detail-info {
            width: 319px;
        }

        .product-link {
            color: #333;
            display: block;
            max-height: 3em;
            line-height: 1.5em;
            overflow: hidden;
            text-transform: uppercase;
            font-weight: bold;
        }

        .description {
            margin-top: 20px;
            font-size: 0.9em;
            line-height: 1.2em;
            margin-bottom: 20px;
        }

            .description p, .description ul li {
                margin: 0px;
                font-size: 12px;
                line-height: normal;
                font-family: 'Helvetica Neue';
                color: rgb(69, 69, 69);
            }

        .product-link:hover {
            text-decoration: none;
            color: #333;
        }

        .product-detail-addcart {
            margin-bottom: 54px;
        }

        .btn-addcart {
            padding: 5px 15px;
            background: #eda6a6;
            color: #fff;
            width: auto;
        }

            .btn-addcart:hover {
                color: #fff;
                text-decoration: none;
            }

        .title-other-product {
            color: #000;
            margin-bottom: 20px;
            display: block;
        }

        .other-product-list {
            padding: 0;
            margin: 0;
            list-style: none;
        }

            .other-product-list li {
                float: left;
                display: inline;
                width: 100px;
                height: 100px;
                margin-bottom: 10px;
            }

                .other-product-list li:nth-child(2n+1) {
                    margin-right: 10px;
                }

                .other-product-list li a {
                    display: block;
                }

                    .other-product-list li a img {
                        width: 100px;
                        height: 100px;
                    }
    </style>
}

@section jsFooter{
    <script src="~/libs/plugins/thumbimage/ninja-slider.js"></script>
    <script src="~/libs/plugins/thumbimage/thumbnail-slider.js"></script>
}

<!--start-->
<div class="page-wrapper" style="margin:40px auto;">
    <div class="product-detail-image float-left">
        <div style="width:992px;">
            <div id="ninja-slider" style="float:left;">
                <div class="slider-inner">
                    <ul>
                        <li><a class="ns-img" href="@Model.HinhAnh"></a></li>
                        @foreach (var item in DanhSachHinhAnh)
                        {
                            <li><a class="ns-img" href="@item"></a></li>
                        }
                    </ul>
                    <div class="fs-icon" title="Expand/Close"></div>
                </div>
            </div>
            <div id="thumbnail-slider" style="float:left;">
                <div class="inner">
                    <ul>
                        <li>
                            <a class="thumb" href="@Model.HinhAnh"></a>
                        </li>
                        @foreach (var item in DanhSachHinhAnh)
                        {
                            <li>
                                <a class="thumb" href="@item"></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
    <div class="product-detail-info float-right">
        <div class="product-name">
            <a href="#" class="product-link">@Model.TenSanPham</a>
            <span class="product-price">Price: <span>@Model.GiaString</span>đ</span><br />
            <span>Colour: 
            @{
                var i = 0;
                var count = Model.MauCollection.Count(); 
            }
            @foreach (var itemMau in Model.MauCollection)
            {
                if (i++ == count - 1)
                {
                    @itemMau.Name
                }
                else
                {
                    @itemMau.Name<span> | </span>
                }
            }
            </span><br />
            <span>Size: 
            @{
                i = 0;
                count = Model.KichCoCollection.Count();
            }
            @foreach (var itemKichCo in Model.KichCoCollection)
            {
                if (i++ == count - 1)
                {
                    @itemKichCo.Name
                }
                else
                {
                    @itemKichCo.Name<span> | </span>
                }
            }
            </span>
        </div>
        <div class="description">
            @Html.Raw(Model.MoTa)
        </div>
        <div class="product-detail-addcart">
            <a href="#" class="btn-addcart" data-id="@Model.ID" data-price="@Model.Gia" data-color="@Model.MauCollection.First().ID" data-size="@Model.KichCoCollection.First().ID">Thêm vào giỏ hàng</a>
        </div>
        <div class="other-products">
            <div class="other-products-wrapper">
                <strong class="title-other-product">Các sản phẩm cùng loại</strong>
                <ul class="other-product-list">
                    <li>
                        <a class="product-other-link" href="#">
                            <img src="~/libs/Image/product/h2.jpg" alt="SHIRT WITH BOW ON SLEEVE" />

                        </a>
                    </li>
                    <li>
                        <a class="product-other-link" href="#">
                            <img src="~/libs/Image/product/h3.jpg" alt="SHIRT WITH BOW ON SLEEVE" />

                        </a>
                    </li>
                    <li>
                        <a class="product-other-link" href="#">
                            <img src="~/libs/Image/product/h4.jpg" alt="SHIRT WITH BOW ON SLEEVE" />

                        </a>
                    </li>
                    <li>
                        <a class="product-other-link" href="#">
                            <img src="~/libs/Image/product/h2.jpg" alt="SHIRT WITH BOW ON SLEEVE" />

                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!--end-->
