
@{
    var DanhSachSanPham = ViewBag.DanhSachSanPham;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @foreach (var item in DanhSachSanPham)
    {
     <!-- A PRODUCT -->
        <div class="col-sm-3 a-product">
            <a href="/san-pham/@item.Url" style="color: #333;text-decoration: none !important;">
                <div class="top">
                    <img src="@item.HinhAnh" />
                </div>
                <div class="bot">
                    <span class="title">
                        @item.TenSanPham
                    </span>
                    <div class="price">Price: <span>@item.GiaString</span>đ</div>
                    <div class="colour">
                        Colour:
                        @{
                            var i = 0;
                            var count = item.MauCollection.Count;
                        }
                        @foreach (var itemMau in item.MauCollection)
                        {
                            if (i++ == count - 1)
                            {
                                @itemMau.Name
                            }
                            else
                            {
                                @itemMau.Name<span> | </span>
                            }
                        }
                    </div>
                    <div class="size">
                        Size:
                        @{
                            i = 0;
                            count = item.KichCoCollection.Count;
                        }
                        @foreach (var itemKichCo in item.KichCoCollection)
                        {
                            if (i++ == count - 1)
                            {
                                @itemKichCo.Name
                            }
                            else
                            {
                                @itemKichCo.Name<span> | </span>
                            }
                        }
                    </div>
                </div>
            </a>
        </div>
    <!-- END PRODUCT -->
    }
</div>
<div class="row">
    <div class="col-sm-12" style="float:right">
        <div class="pagination">
            <ul>
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">></a></li>
                <li><a href="">>></a></li>
            </ul>
        </div>
    </div>
</div>

